.header-section {
  background-image: url("../../images/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 840px;
  margin-top: -72px;
  padding: 206px 0 0 0;
  background-color: #e5e5e5;
}
.text {
  font-weight: 300;
  font-style: 20px;
  line-height: 120%;
  color: #646464;
}

.section_two {
  background: #e5e5e5;
  display: flex;
  justify-content: center;
}
.solition {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
}
.table {
  text-align: left;
  flex-direction: column;
}
img {
  width: 1110px;
}

.faq-section {
  background-color: #e5e5e5;
  text-align: center;
}

.sub-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #b6bfd9;
}
.collapse {
  width: 100%;
  // border-top: 1px solid #000;
}
.collapse-block {
  display: flex;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 78px;
  text-align: left;
}
h3 {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 120%;
  color: #1d212a;
}
